body{
    background: #606060;
}

.menu *{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.menu li{
    float:left;
    background: #454545;
    padding: 10px 20px;
    color: white;
    font: normal 16px Arial;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    -o-transition:background 0.3s ease-in-out;
    transition:background 0.3s ease-in-out;
}
.menu li:hover{
    cursor: pointer;
    background: #555555;
}

.menu li:hover>.submenu{
    display: block;
}

.submenu{
    position: absolute;
    margin: 10px 0 0 -20px;
    display: none;
    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
}

.submenu li{
    background: #555555;
    float:none;
}

.submenu li:hover{
    background: #656565;
}

#topMenu ul{
    position: absolute;
    margin: 10px 0 0 -20px;
    display: none;
}

#topMenu ul li{
    background: #555555;
    float:none;
}

#topMenu ul li:hover{
    background: #656565;
}