<form method="GET" action="">
    <h3>{$fl_title}</h3>
    <div class="spliter"></div>
    <table>
        <tr>
            <td class="label">
                <label target="email">Email</label>
            </td>
            <td><input type="text" id="email" name="email" value="{$fl_email}"/></td>
        </tr>
        <tr>
            <td class="label">
                <label target="extension">Расширение</label>
            </td>
            <td><input type="text" id="extension" name="extension" value="{$fl_extension}"/></td>
        </tr>
        <tr>
            <td >
            </td>
            <td><input class="submit" type="submit" value="Поиск"/></td>
        </tr>
    </table>
</form>