<!-- Лаб07 -->
<ul>
  <li>
    <a href="task0702.php">Задание 2 - 10 баллов</a>
  </li>
  <li>
    <span>Задание 3 - 10 баллов</span>
    <ul>
      <li>
        <a href="signup.php">Sign Up</a>
      </li>
      <li>
        <a href="login.php">Log In</a>
      </li>
      <li>
        <a href="user_info.php">Get User Info</a>
      </li>
      <li>
        <a href="user_info.php">File Upload</a>
      </li>
    </ul>
  </li>
  <li>
    <span>Задание 4 - 15 баллов</span>
    <ul>
      <li>
        <a href="file_list.php">Files list</a>
      </li>
      <li>
        <a href="user_list.php">User list</a>
      </li>
    </ul>
  </li>
</ul>